In [21]:
USE Beers

In [22]:
USE master;
DROP DATABASE Beers

In [15]:
SELECT * FROM Businesses

BusinessId,Name,Type,Email,LocationId
d541406a-2c4a-445b-bdb0-0c03ec1012bf,'t Burgs Beertje,Restaurant,NULL,49b84798-af96-410f-88d7-85a094bb67e5
718d54a0-c0e6-483c-a0d5-c59fd81c4c5a,Barbier,Cafe,NULL,543bc4fe-e403-484a-a599-f57bcae27a04
e4372e76-8bb1-41b3-857c-fb239c5a18d5,'t Kanon,Cafe,NULL,473026c5-55f9-4ac8-acad-f6ada64b5ca6

In [20]:
SELECT * FROM Beers

BeerId,Name,AlchoholPercentage,Brewer
cc02aabe-ca36-41c2-a419-0c71d427b7b3,Duvel,"9,5",Duvel Moortgat
9be5c824-4acd-47d0-a2e2-2721d044793b,Jupiler,"3,3",Piedbœuf
4e528702-490c-4ed7-8fd4-2c00373bc42c,La Chouffe,8,AChouffe
7454de0e-2798-4264-b393-71cec62b5de2,Omer,8,Omer Vander Ghinste

In [17]:
select * FROM Locations

LocationId,City,Postcode,Street,HouseNumber
49b84798-af96-410f-88d7-85a094bb67e5,Brugge,8000,NULL,0
543bc4fe-e403-484a-a599-f57bcae27a04,Antwerpen,2000,NULL,0
473026c5-55f9-4ac8-acad-f6ada64b5ca6,Kortijk,8500,NULL,0

In [18]:
SELECT Businesses.Name, Beers.Name
    FROM Businesses
JOIN BusinessBeer
    ON Businesses.BusinessId = BusinessBeer.BusinessId
JOIN Beers
    ON BusinessBeer.BeerId = Beers.BeerId

Name,Name
't Burgs Beertje,Duvel
't Burgs Beertje,La Chouffe
't Burgs Beertje,Omer
Barbier,Duvel
Barbier,Jupiler
Barbier,La Chouffe
Barbier,Omer
't Kanon,La Chouffe
't Kanon,Omer

In [19]:
SELECT Businesses.Name, Locations.City
    FROM Businesses
JOIN Locations
    ON Businesses.LocationId = Locations.LocationId

Name,City
't Burgs Beertje,Brugge
Barbier,Antwerpen
't Kanon,Kortijk