In [34]:
DROP DATABASE Beers

: Msg 3702, Level 16, State 3, Line 1
Cannot drop database "Beers" because it is currently in use.

In [39]:
USE Beers

In [40]:
SELECT * FROM Businessbeer

BeerId,BusinessId
1d31353b-c63d-436a-9327-121ed181eb58,e75faac4-0546-4fa2-a33c-4f40bb6e70a5
0d9083f5-defc-423a-b509-d883b70903ce,e75faac4-0546-4fa2-a33c-4f40bb6e70a5
1d31353b-c63d-436a-9327-121ed181eb58,2a75e554-72f8-4508-96f8-839509576321
0d9083f5-defc-423a-b509-d883b70903ce,2a75e554-72f8-4508-96f8-839509576321
a7625612-b735-4c20-9928-ec38cbb1a70d,2a75e554-72f8-4508-96f8-839509576321
1d31353b-c63d-436a-9327-121ed181eb58,6f5f5e28-76ef-4bcf-b32d-ce83ad07476d
0d9083f5-defc-423a-b509-d883b70903ce,6f5f5e28-76ef-4bcf-b32d-ce83ad07476d
a7625612-b735-4c20-9928-ec38cbb1a70d,6f5f5e28-76ef-4bcf-b32d-ce83ad07476d
57b1c716-c485-445e-bd41-f6fb305aae86,6f5f5e28-76ef-4bcf-b32d-ce83ad07476d

In [41]:
SELECT * FROM Businesses

BusinessId,Name,Type,Email,LocationId
e75faac4-0546-4fa2-a33c-4f40bb6e70a5,'t Kanon,Cafe,NULL,54cfc310-ceef-43ae-836e-face3f4b7d1b
2a75e554-72f8-4508-96f8-839509576321,'t Burgs Beertje,Restaurant,NULL,6ea94f22-5b8e-4c75-a4f9-1bcafa3d6936
6f5f5e28-76ef-4bcf-b32d-ce83ad07476d,Barbier,Cafe,NULL,b0449729-ff9d-4451-8f06-b77a837c4190

In [42]:
SELECT * FROM Beers

BeerId,Name,AlchoholPercentage,Brewer
1d31353b-c63d-436a-9327-121ed181eb58,La Chouffe,8,AChouffe
0d9083f5-defc-423a-b509-d883b70903ce,Omer,8,Omer Vander Ghinste
a7625612-b735-4c20-9928-ec38cbb1a70d,Duvel,"9,5",Duvel Moortgat
57b1c716-c485-445e-bd41-f6fb305aae86,Jupiler,"3,3",Piedbœuf

In [43]:
select * FROM Locations

LocationId,City,Postcode,Street,HouseNumber
6ea94f22-5b8e-4c75-a4f9-1bcafa3d6936,Brugge,8000,NULL,0
b0449729-ff9d-4451-8f06-b77a837c4190,Antwerpen,2000,NULL,0
54cfc310-ceef-43ae-836e-face3f4b7d1b,Kortijk,8500,NULL,0

In [ ]:
SELECT Businesses.Name, Beers.Name
  FROM Businesses
LEFT OUTER JOIN BusinessBeer
  ON Businesses.BusinessId = BusinessBeer.BusinessId
LEFT OUTER JOIN Beers
  ON BusinessBeer.BeerId = Beers.BeerId

Name,Name
't Kanon,La Chouffe
't Kanon,Omer
't Burgs Beertje,La Chouffe
't Burgs Beertje,Omer
't Burgs Beertje,Duvel
Barbier,La Chouffe
Barbier,Omer
Barbier,Duvel
Barbier,Jupiler